{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Nuevo Proveedor</h2>
    <hr>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <h4>Nombre</h4>
            <input type="text" class="form-control" placeholder="Nombre del proveedor" value="{{ desc }}" name="desc">
        </div>
        <div class="form-group">
            <h4>Télefono</h4>
            <input type="number" class="form-control" placeholder="Número teléfonico del proveedor" value="{{ tel }}" name="tel">
        </div>
        <div class="form-group">
            <h4>Correo electrónico</h4>
            <input type="email" class="form-control" placeholder="Correo electrónico del proveedor" value="{{ email }}" name="email">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Agregar</button>
    </form>
</div>

{% endblock %}