{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Bajas registradas</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Baja</th>
                <th scope="col">ID Compra</th>
                <th scope="col">Fecha</th>
                <th scope="col">Empleado que hizo la baja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <th scope="col">1</th>
                <td>03/11/2021</td>
                <td>Santiago Benavides</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Producto</th>
                <th scope="col">Descripción del producto</th>
                <th scope="col">Cantidad dada de baja</th>
                <th scope="col">Mótivo</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="col">1</th>
                    <td>Sábanas de seda</td>
                    <td>5</td>
                    <td>Empaque dañado</td>
                </tr>
                <tr>
                    <th scope="col">2</th>
                    <td>Cubrecama</td>
                    <td>10</td>
                    <td>Producto dañado</td>
                </tr>
        </tbody>
    </table>
    <hr>
</div>

{% endblock %}