{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Compras registradas</h2>
    <hr>
    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Introduce el nombre del proveedor a buscar o el ID" aria-label="Search" name="searched" value="{{ searched }}">
    </form>
    <hr>
    {% if flag == 2 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            No se encontró ninguna compra de ese proveedor o ID.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Compra</th>
                <th scope="col">Fecha</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Empleado</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <th scope="col">{{compra.id}}</th>
                    <td>{{compra.fechaCompra}}</td>
                    <td>{{compra.proveedor}}</td>
                    <td>{{compra.empleado}}</td>
                    <td><td><a style="padding: 5px; background-color: #0d6efd; border-radius: 5px; color: white; text-decoration: none;" href="/comprainfo/{{compra.id}}">Más información</a></td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
</div>

{% endblock %}