{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Empleados registrados</h2>
    <hr>
    <form class="form-inline" method="POST" action="{% url 'emps' %}">
        {% csrf_token %}
        <br>
        <input class="form-control mr-sm-2" type="search" placeholder="Introduce los apellidos del empleado a buscar" aria-label="Search" name="searched" value="{{ searched }}">
    </form>
    <hr>
    {% if flag == 2 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            No se encontró ningún empleado con esos apellidos.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido(s)</th>
                <th scope="col">Cargo</th>
                <th scope="col">Dirección</th>
                <th scope="col">Télefono</th>
                <th scope="col">Sueldo</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in empleados %}
                <tr>
                    <th scope="col">{{emp.id}}</th>
                    <td>{{emp.nombre}}</td>
                    <td>{{emp.apellidos}}</td>
                    <td>{{emp.cargo}}</td>
                    <td>{{emp.direccion}}</td>
                    <td>{{emp.telefono}}</td>
                    <td>${{emp.sueldo}}</td>
                    <td>{{emp.status}}</td>
                    <td><a style="padding: 5px; background-color: #0d6efd; border-radius: 5px; color: white; text-decoration: none;" href="/memp/{{emp.id}}">Modificar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}