{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Modificar cliente</h2>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <h4>Nombre: {{cliente.nombre}} {{cliente.apellidos}}</h4>
    <hr>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <h4>Número de teléfono</h4>
            <input type="number" class="form-control" placeholder="Número teléfono del cliente" value="{{ cliente.telefono }}" name="telefono">
        </div>
        <div class="form-group">
            <h4>Correo eléctronico</h4>
            <input type="email" class="form-control" placeholder="Correo electrónico del cliente" value="{{ cliente.correo }}" name="correo">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Modificar</button>
    </form>
</div>

{% endblock %}