{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Productos registrados</h2>
    <hr>
    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        <br>
        <input class="form-control mr-sm-2" type="search" placeholder="Introduce el nombre del producto a buscar" aria-label="Search" name="searched" value="{{ searched }}">
    </form>
    <hr>
    {% if flag == 2 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            No se encontró ningún producto con ese nombre.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripción</th>
                <th scope="col">Color</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Precio neto</th>
                <th scope="col">Existencia</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <th scope="col">{{producto.id}}</th>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.color}}</td>
                    <td>{{producto.talla}}</td>
                    <td>${{producto.precio}}</td>
                    <td>{{producto.existencia}}</td>
                    <td><a style="padding: 5px; background-color: #0d6efd; border-radius: 5px; color: white; text-decoration: none;" href="/mproduct/{{producto.id}}">Modificar existencia</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}