{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Venta ID: <b>{{venta.id}}</b></h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha de venta</th>
                <th scope="col">Fecha de entrega</th>
                <th scope="col">Cliente</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Repartidor</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{venta.fechaVenta}}</td>
                    <td>{{venta.fechaEntrega}}</td>
                    <td>{{venta.cliente}}</td>
                    <td>{{venta.vendedor}}</td>
                    <td>{{venta.repartidor}}</td>
                    <td>{{venta.status}}</td>
                </tr>
        </tbody>
    </table>
    <p><b>Dirección de entrega: </b>{{venta.direccion}}</p>
    <hr>
    <h4><b>Productos</b></h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripción</th>
                <th scope="col">Color</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio total</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos %}
                <tr>
                    <th scope="col">{{p.producto.id}}</th>
                    <td>{{p.producto.descripcion}}</td>
                    <td>{{p.producto.color}}</td>
                    <td>{{p.producto.talla}}</td>
                    <td>{{p.producto.precio}}</td>
                    <td>{{p.cantidad}}</td>
                    <td>{{p.pc}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><b>Sub total:</b> ${{subtotal}}</p>
    <p><b>IVA:</b> ${{iva}}</p>
    <p><b>Total:</b> ${{venta.total}}</p>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% if venta.status == 'Preparando entrega' %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <p>Cambiar estado de la venta</p>
                <select class="form-select" name="status" value="{{ status }}">
                    <option value="" selected disabled hidden>Selecciona el estado</option>
                    <option value="Entregado">Entregado</option>
                    <option value="Cancelada">Cancelada</option>
                </select>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Cambiar</button>
            </div>
        </form>
        <hr>
    {% endif %}
</div>

{% endblock %}