{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Ventas registradas</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Venta</th>
                <th scope="col">Hecha</th>
                <th scope="col">Fecha de entrega</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Cliente</th>
                <th scope="col">Repartidor</th>
                <th scope="col">Dirección de entrega</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="col">1</th>
                    <td>04/11/2021</td>
                    <td>11/11/2021</td>
                    <td>Santiago Benavides</td>
                    <td>Carlos Madrigal</td>
                    <td>Carlos Barba</td>
                    <td>Dirección 1</td>
                    <td>Preparando entrega</td>
                </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Producto</th>
                <th scope="col">Descripción del producto</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="col">1</th>
                    <td>Sábanas de seda</td>
                    <td>$750.00</td>
                    <td>2</td>
                    <td>$1500.00</td>
                </tr>
                <tr>
                    <th scope="col">2</th>
                    <td>Cubrecama</td>
                    <td>$500.00</td>
                    <td>5</td>
                    <td>$2500.00</td>
                </tr>
        </tbody>
    </table>
    <p><b>Subtotal: </b>$4000.00</p>
    <p><b>IVA: </b>16%</p>
    <p><b>Total: </b>$4640.00</p>
    <hr>
</div>

{% endblock %}